<div class="full-container footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
          <h1>Rescue a Paw</h1>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">The Paws</a></li>
            <li><a href="#">Donation</a></li>
            <li><a href="#">Historic</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h1>Follow Us</h1>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-pinterest-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-whatsapp-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <p>&nbsp;</p>
        <p>+55 11 1234-5678<br>
          E-mail: contact@rescueapaw.com<br>
          123 New Place New Philadelphia, OH 12345
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h1>Newsletter</h1>
        <form action="">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="email" placeholder="E-mail">
          <input type="submit" value="subscribe">
        </form>
      </div>
    </div>
  </div>
</div>